<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBz4g3ahJu0-WaOLvQ50BLyyPHtdehD310</string>
	<key>GCM_SENDER_ID</key>
	<string>969862738847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.p4ds.p4ds.p4ds</string>
	<key>PROJECT_ID</key>
	<string>p4ds-a0e74</string>
	<key>STORAGE_BUCKET</key>
	<string>p4ds-a0e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969862738847:ios:11664a6168f9dc8873c3aa</string>
</dict>
</plist>